<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  
  <connectionStrings />
  
  <appSettings>
    <!--CDSS日志信息-->
    <add key="CDSSLog" value="true"/>
    <!--知识库信息-->
    <add key="CLIPSAPP_PATH"  value=".\CDSSServer\EngineServer\CLIPSApp.xml"/>
    <add key="DATAMAPPING_FILEPATH" value=".\CDSSServer\MappingServer\DataMapping.xml"/>
    <!--必填项开关 0:不控制; 1:控制,只有所有必填项都填写了才能进入下一步操作-->
    <add key="MustFill" value="0"/>
    <!--用户使用次数达到该值时，提示用户应该填写用户意见反馈-->
    <add key="FeedbackUsingNum" value="5"/>
    <!--连接到本地数控还是远程数据库。1-本地，0-远程-->
    <add key="LocalDatabase" value="1"/>
    <!--数据库连接字符串-->
    <add key="CDSS.SQLServerDBCon" value="Data Source=HAWKING-PC\SQLEXPRESS;Persist Security Info=True;User ID=NGCDSS;Password=NGCDSS"/>
    <!--是否自动升级。1-自动，0-禁止-->
    <add key="AutoUpdate" value="0"/>
    <!--客户端用户操作日志上限，单位：MB-->
    <add key="UserLogMaxSize" value="50"/>
    <!--用户离开判定时间，单位：秒-->
    <add key="LevelTime" value="30"/>
  </appSettings>
</configuration>